body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5a94f1;
}
.one1{
    border-radius: 50%;
}
section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

p {
    line-height: 1.6;
    color: #555;
}

.team-member {
    align-items:center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.team-member img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}
.mem{
align-content:center;
}
h2{
    color:rgb(202, 135, 27);
}
h2,h3,h4,img,p{
text-align:center;
}